<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <r:page:if_site_default>
      <title><r:site:name /> at West Virginia University</title>
      <link rel="canonical" href="http://<r:site:domain />">
    </r:page:if_site_default>
    <r:page:unless_site_default>
      <title><r:page:first_non_blank_attr names="alternate_name, name" /> | <r:site_name /> | West Virginia University</title>
      <link rel="canonical" href="<r:page:url />" >
    </r:page:unless_site_default>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="<r:site:data name="google_site_verification" />" />

    <meta property="og:title" content="<r:site_name /> | <r:page:first_non_blank_attr names="alternate_name, name" />" />
    <meta property="og:description" content="<r:page:meta_description />" />
    <meta property="og:image" content="<r:page:data name="thumbnail_url" />/1200x630.jpg" />
    <meta name="twitter:image" content="<r:page:data name="thumbnail_url" />/1200x630.jpg" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="<r:page:url />" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<r:site_name />">
    <meta name="twitter:creator" content="<r:site:data name="twitter_handle" />">
    <meta name="twitter:title" content="<r:page:first_non_blank_attr names="alternate_name, name" />">
    <meta name="twitter:description" content="<r:page:meta_description />">

    <r:include_stylesheet name="styles" />

  </head>

  <body class="<r:page:template:name /> page--<r:page:id /> page--<r:page:slug /> <r:edit_mode_only>page--edit-mode page--hide-instructions-<r:var name="showInstructions" /></r:edit_mode_only>">

    <a class="wvu-skip-nav" href="#maincontent">Skip to main content</a>

    <r:comment><!-- What are layouts and <r:yield />? http://goo.gl/DFAsPv --></r:comment>
    <r:yield />

    <r:set_var name="jqueryDefer">
      <r:site:data name="jquery_defer" />
    </r:set_var>

    <r:if expr="{{ NOT(BLANK(jquery_defer_page)) }}">
      <r:set_var name="jqueryDefer">
        <r:page:data name="jquery_defer_page" />
      </r:set_var>
    </r:if>

    <r:if value1="{$jqueryDefer}" value2="false" operator="=">
      <script src="https://fast.fonts.net/jsapi/3f7b1335-4c99-4404-92cf-3ba0e32e8f17.js"></script> <r:comment><!-- Helvetica Neue Light & Bold Condensed web font, valid for *.wvu.edu, *.wvutech.edu, & localhost --></r:comment>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="https://code.wvu.edu/public/vendor/jquery/1.11.1/jquery.min.js"><\/script>')</script>
      <r:include_javascript name="all" />
    </r:if>

    <r:if value1="{$jqueryDefer}" value2="false" operator="!=">
      <script src="https://fast.fonts.net/jsapi/3f7b1335-4c99-4404-92cf-3ba0e32e8f17.js" defer></script> <r:comment><!-- Helvetica Neue Light & Bold Condensed web font, valid for *.wvu.edu, *.wvutech.edu, & localhost --></r:comment>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" defer></script>
      <script>window.jQuery || document.write('<script src="https://code.wvu.edu/public/vendor/jquery/1.11.1/jquery.min.js" defer><\/script>')</script>
      <r:include_javascript name="all" defer="true" />
    </r:if>

    <r:yield name="page_js">
      <r:content />
    </r:yield>

<script type="text/javascript" src="//uchat.co/widget.js?school=potomac"></script>

  </body>
</html>
