.wvu-lede-text {
  font-family: $helvetica-neue-light;
  p {
    font-size: 2.25em;
    @include wvu-lede();
  }
}

.wvu-lede-text__container {
  @include u-wvu-container-padding();
}

// Layout
// =================================

.wvu-lede-text__container {
  @include outer-container();
}
