.wvu-featurettes {
  h2 {
    font-size: $wvu-shout-font-size;
    margin: $wvu-shout-margin;
    text-align: center;
  }
  h3 {
    margin-top: 0;
    a {
      color: $black;
      text-decoration: none;
    }
  }
}

.wvu-featurettes__container {
  @include u-wvu-container-padding();
}

.wvu-featurettes__header {
  font-size: 2.5em;
  @include wvu-lede();
  h2 {
    @include wvu-primary-pattern-heading();
    @media (max-width: 48em){
      font-size: 4rem;
    }
  }
  h3 {
    @include wvu-lede();
    font-size: 1em;
  }
  p {
    margin-top: 0;
  }
  h2 + p {
    margin-top: 1em;
  }
}

.wvu-featurettes__postscript {
  @include wvu-postscript();
}

.wvu-featurettes__featurettes--1, .wvu-featurettes__featurettes--2 {
  h3 {
    @include mq($bp-medium) {
      margin-top: 0;
    }
  }
}

.wvu-featurettes--profiles {
  .wvu-featurettes__featurettes--1 {
    h3 {
      @include mq($bp-medium) {
        margin-top: 0;
      }
    }
  }
}

.wvu-featurettes__featurette {
  margin-bottom: 2.5em;
}

.wvu-featurettes__photo {
  margin-bottom: 1em;
}

.wvu-featurettes--profiles {
  img {
    border-radius: 50%;
  }
  .wvu-featurettes__photo {
    padding: 0 2em;
    text-align: center;
  }
}

.wvu-featurettes__quote {
  &:before {
    content: '';
  }
}

.main, .wvu-sidebar {
  .wvu-featurettes__container {
    width: 100%;
  }
}

.wvu-featurettes__featurettes--1, .wvu-featurettes__featurettes--2, .wvu-featurettes__featurettes--3, .wvu-featurettes__featurettes--4, .wvu-featurettes__featurettes--5 {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      margin-bottom: 0;
    }
  }
}

.wvu-sidebar, .wvu-featurettes__featurette, .wvu-polyptych__panel, .main {
  .wvu-featurettes__container {
    padding: 1em 0;
  }
  .wvu-featurettes__postscript, .wvu-featurettes__header {
    display: none;
  }
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      margin-bottom: 1em;
    }
  }
  .wvu-featurettes__featurette--1, .wvu-featurettes__featurette--2, .wvu-featurettes__featurette--3 {
    .wvu-featurettes__info {
      @include mq($bp-medium) {
        font-size: .8em;
      }
      h3 {
        margin-bottom: 0;
      }
    }
  }
  .wvu-featurettes--profiles {
    .wvu-featurettes__featurettes {
      .wvu-featurettes__featurette {
        @include mq($bp-small) {
          margin-bottom: 1em;
        }
      }
      .wvu-featurettes__photo {
        @include mq($bp-small) {
          padding: 0 .5em 0 0;
        }
      }
      .wvu-featurettes__info {
        @include mq($bp-small) {
          font-size: .8em;
        }
        h3 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.main {
  .wvu-featurettes--profiles {
    .wvu-featurettes__featurettes--1, .wvu-featurettes__featurettes--2, .wvu-featurettes__featurettes--3 {
      .wvu-featurettes__info {
        @include mq($bp-small) {
          font-size: 1em;
        }
      }
    }
  }
}

// Layout
// ======================================

.wvu-featurettes__container {
  @include outer-container();

}

.wvu-featurettes__featurettes--1, .wvu-featurettes__featurettes--2 {
  .wvu-featurettes__photo {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
  .wvu-featurettes__info--hasphoto {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
}

.wvu-featurettes--profiles {
  .wvu-featurettes__featurettes--1 {
    .wvu-featurettes__photo {
      @include mq($bp-medium) {
        @include span-columns(3);
      }
    }
    .wvu-featurettes__info--hasphoto {
      @include mq($bp-medium) {
        @include span-columns(9);
      }
    }
  }
}

.wvu-featurettes__featurette {
  @include mq($bp-medium) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.wvu-featurettes__featurettes--1 {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      @include span-columns(12);
      @include omega-reset(4n);
    }
  }
}

.wvu-featurettes__featurettes--2 {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      @include span-columns(6);
      @include omega-reset(4n);
    }
  }
}

.wvu-featurettes__featurettes--3 {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      @include span-columns(4);
      @include omega-reset(4n);
    }
  }
}

.wvu-featurettes__featurettes--5 {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.wvu-sidebar, .wvu-featurettes__featurette, .wvu-polyptych__panel, .wvu-diptych__panel, .wvu_triptych__panel, .wvu-quadriptych__panel, .wvu-pentaptych__panel {
  .wvu-featurettes__featurette {
    @include mq($bp-medium) {
      @include span-columns(12);
      @include omega-reset(4n);
    }
  }
  .wvu-featurettes__featurette--1, .wvu-featurettes__featurette--2, .wvu-featurettes__featurette--3, .wvu-featurettes__featurette--5 {
    .wvu-featurettes__featurette {
      @include mq($bp-medium) {
        @include span-columns(12);
        @include omega-reset(4n);
      }
    }
    .wvu-featurettes__photo {
      @include mq($bp-medium) {
        @include span-columns(12);
      }
    }
    .wvu-featurettes__info {
      @include mq($bp-medium) {
        @include span-columns(12);
      }
    }
    .wvu-featurettes__info--hasphoto {
      @include mq($bp-medium) {
        @include span-columns(12);
      }
    }
  }
  .wvu-featurettes--profiles, .wvu-featurettes--quote {
    .wvu-featurettes__featurettes {
      .wvu-featurettes__featurette {
        @include mq($bp-small) {
          @include span-columns(12);
          @include omega-reset(4n);
        }
      }
      .wvu-featurettes__photo {
        @include mq($bp-small) {
          @include span-columns(3);
        }
      }
      .wvu-featurettes__info {
        @include mq($bp-small) {
          font-size: .8em;
          @include span-columns(12);
        }
      }
      .wvu-featurettes__info--hasphoto {
        @include mq($bp-small) {
          @include span-columns(9);
        }
      }
    }
  }
}
