---
layout: default
custom_data_attributes:
  - agenda_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_has_subnav
  - backpage_header
  - backpage_header_badge
  - backpage_main
  - bgcolor_adverts
  - bgcolor_backpage
  - bgcolor_calendar_widget
  - bgcolor_diptych
  - bgcolor_diptych_2
  - bgcolor_diptych_3
  - bgcolor_featurettes
  - bgcolor_featurettes_2
  - bgcolor_gallery
  - bgcolor_lede_text
  - bgcolor_media_object
  - bgcolor_pentaptych
  - bgcolor_pentaptych_2
  - bgcolor_pentaptych_3
  - bgcolor_polyptych
  - bgcolor_profiles
  - bgcolor_profiles_index
  - bgcolor_quadriptych
  - bgcolor_quadriptych_2
  - bgcolor_quadriptych_3
  - bgcolor_quicklinks
  - bgcolor_social_media
  - bgcolor_super_nav
  - bgcolor_testimonials
  - bgcolor_triptych
  - bgcolor_triptych_2
  - bgcolor_triptych_3
  - bgcolor_video
  - calendar_url_page
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero_has_video
  - hero_text_alignment
  - hero_vignetting
  - jquery_defer_page
  - link_text
  - major_key
  - polyptych_items
  - profile_quote
  - profile_quote_author
  - profiles_id
  - rss_url
  - search_action
  - search_index_id
  - show_instructions
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - slot_07
  - slot_08
  - slot_09
  - slot_10
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
  - thumbnail_url_sq
---
<r:partial name="patterns/wvu-backpage-partials--top" />
<div id="wvu-main-content">
<div class="wvu-container">

  <r:if v1="{$major_key}" v2="" operator="!=">

    <!-- an ID was supplied so show the information related to the program -->

    <r:set_var name="awsUrl">
      https://f09bec8ldd.execute-api.us-east-1.amazonaws.com/v0/programs/<r:page:data name="major_key" />?format=xml
    </r:set_var>

    <r:set_var name="xsltPath">
      /views/xslt/view-academic-program.xsl
    </r:set_var>

    <r:xslt_transform url="{$awsUrl}" xslt_file="{$xsltPath}" cache_for="0"/>

  </r:if>

  <r:if v1="{$major_key}" v2="" operator="==">
    <!-- no ID was supplied so show an error -->
    <p>Update the major key in the page data.</p>
  </r:if>

</div> <!-- /.wvu-container -->

<r:partial name="patterns/wvu-custom-patterns/get-started" />
<r:partial name="patterns/wvu-custom-patterns/need-help" />
<r:partial name="patterns/wvu-quicklinks--sitewide" />
</div>
