---
layout: default
custom_data_attributes:
  - agenda_id
  - alternate_url
  - backpage_has_sidebar
  - backpage_has_subnav
  - backpage_header
  - backpage_header_badge
  - backpage_main
  - bgcolor_adverts
  - bgcolor_backpage
  - bgcolor_calendar_widget
  - bgcolor_diptych
  - bgcolor_diptych_2
  - bgcolor_diptych_3
  - bgcolor_featurettes
  - bgcolor_featurettes_2
  - bgcolor_gallery
  - bgcolor_lede_text
  - bgcolor_media_object
  - bgcolor_pentaptych
  - bgcolor_pentaptych_2
  - bgcolor_pentaptych_3
  - bgcolor_polyptych
  - bgcolor_profiles
  - bgcolor_profiles_index
  - bgcolor_quadriptych
  - bgcolor_quadriptych_2
  - bgcolor_quadriptych_3
  - bgcolor_quicklinks
  - bgcolor_social_media
  - bgcolor_super_nav
  - bgcolor_testimonials
  - bgcolor_triptych
  - bgcolor_triptych_2
  - bgcolor_triptych_3
  - bgcolor_video
  - calendar_url_page
  - directory_id
  - featurettes_id
  - featurettes_2_id
  - hero_has_video
  - hero_text_alignment
  - hero_vignetting
  - jquery_defer_page
  - link_text
  - polyptych_items
  - profile_quote
  - profile_quote_author
  - profiles_id
  - rss_url
  - search_action
  - search_index_id
  - show_instructions
  - slot_01
  - slot_02
  - slot_03
  - slot_04
  - slot_05
  - slot_06
  - slot_07
  - slot_07
  - slot_08
  - slot_09
  - slot_10
  - staff_directory_id
  - testimonials_id
  - thumbnail_alt
  - thumbnail_url
  - thumbnail_url_sq
---


<!-- Slots 01 - 03 -->

<r:partial name="patterns/wvu-backpage-partials--top" />

<r:if v1="{$backpage_main}" v2="false" op="!=">

  <div class="wvu-container">

    <main id="wvu-main-content" class="<r:page:data name="bgcolor_backpage" /> background main <r:if v1="{$backpage_has_sidebar}" v2="false" op="=">main--wide</r:if> <r:edit_mode_only>main--edit-mode</r:edit_mode_only>">
<div class="admitted-list">
      <r:edit_mode_only>
        <p><strong>Main body text:</strong></p>
      </r:edit_mode_only>

      <r:editable_region name="main">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </r:editable_region>
</div>
    </main>

    <r:partial name="patterns/wvu-sidebar" />

  </div> <!-- /.wvu-container -->

  <r:edit_mode_only>
    <div class="wvu-instructions">
      <p><strong>Instructions for Backpage:</strong> You can put whatever you want in the main content region. The sidebar and sub-nav are optional. Just set either the <code>backpage_has_sidebar</code> or <code>backpage_has_subnav</code> attributes to <code>false</code> in Page Properties > Data.</p>
    </div>
  </r:edit_mode_only>

</r:if>

<!-- Slots 04 - 10 -->

<r:partial name="patterns/wvu-backpage-partials--bottom" />

<r:partial name="patterns/wvu-custom-patterns/get-started" />
<r:partial name="patterns/wvu-custom-patterns/need-help" />
<r:partial name="patterns/wvu-quicklinks--sitewide" />
