---
layout: default
---

<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="true" op="=">
  <r:partial name="custom-patterns/so-backpage-header" />
</r:if>

<div class="wvu-container">

  <main id="maincontent" class="main main--wide">
    <r:editable_region name="main">
      <p>Well this is embarrassing. We couldn't find what you were looking for. Double check the URL to make sure there are no typos. Perhaps try searching for the page or file on this site via the search box in the upper right or via Google. If you still can't find it, we'd appreciate a heads up. Email CleanSlate@mail.wvu.edu for help, and please include the URL of the page you were looking for.</p>
    </r:editable_region>
  </main>

</div> <!-- /.wvu-container -->
<r:partial name="patterns/wvu-custom-patterns/get-started" />
<r:partial name="patterns/wvu-custom-patterns/need-help" />
<r:partial name="patterns/wvu-quicklinks--sitewide" />
