<!-- results -->
<div class="frontpage-estimator__results" style="padding-top: 0;">

  <r:comment>Testing for missing attributes</r:comment>
  <r:set_var name="errors">false</r:set_var>
  <r:if v1="{$residency}" v2="" operator="==">
    <r:set_var name="errors">true</r:set_var>
  </r:if>
  <r:if v1="{$livingArrangement}" v2="" operator="==">
    <r:set_var name="errors">true</r:set_var>
  </r:if>
  <r:if v1="{$majorKey}" v2="" operator="==">
    <r:set_var name="errors">true</r:set_var>
  </r:if>

  <r:if v1="{$errors}" v2="true" operator="==">
    <section class="estimate-results-error">
      The following questions need to be corrected to provide you with an estimate of your tuition and fees. Please <a href="">try again</a>.
      <ul>
        <r:if v1="{$residency}" v2="" operator="==">
          <li> Residency</li>
        </r:if>
        <r:if v1="{$livingArrangement}" v2="" operator="==">
          <li> Living arrangement</li>
        </r:if>
        <r:if v1="{$majorKey}" v2="" operator="==">
          <li> Major</li>
        </r:if>
      </ul>
    </section>
  </r:if>
  <r:if v1="{$errors}" v2="false" operator="==">

    <r:set_var name="awsUrl">
      https://f09bec8ldd.execute-api.us-east-1.amazonaws.com/v0/tuition-calculator?campus=<r:page:data name="calculator-campus" />&amp;level=<r:page:data name="calculator-level" />&amp;residency=<r:var name="residency" />&amp;livingArrangement=<r:var name="livingArrangement" />&amp;majorKey=<r:var name="majorKey" />&amp;semester=<r:page:data name="calculator-semester" />&amp;year=<r:page:data name="calculator-year" />&amp;format=xml
    </r:set_var>
    <r:xslt_transform url="{$awsUrl}" xslt_file="/views/xslt/view-cost-estimate.xsl" cache_for="0"/>

  </r:if>

  <p><r:editable_region name="cost_aid_calculator__p" /></p>

</div><!-- /.frontpage-estimator__results -->
