<!-- form -->
<section id="estimate-form" class="estimate-form">
  <h1>Begin Your Cost of Attendance Estimate</h1>
  <p class="wvu-lede"><r:editable_region name="cost_aid_calculator__lede" /></p>
  <p><r:editable_region name="cost_aid_calculator__p" /></p>
  <form id="tuition-calculator" action="/cost-and-aid/estimate-your-cost/results" method="get">

    <!-- STEP 1 -->
    <div id="resident-field" class="field-section">
      <div id="resident-num" class="field-number"><span class="circle">1</span></div>
      <div id="resident-warning" class="hidden">* Required Selection</div>
      <fieldset>
        <legend id="step-1-desc" class="field-description">Where do you live?</legend>
        <div class="field-selection">
          <div>
            <input id="wv-select" class="resident-radio" name="residency" type="radio" value="resident">
            <label for="wv-select"><span></span>In West Virginia</label>
          </div>
          <div>
            <input id="metro-select" class="resident-radio" name="residency" type="radio" value="metro">
            <label for="metro-select"><span></span>In the Metro region.<br>This includes Allegany County, MD; Garrett County, MD; Bedford County, PA; Fayette County, PA; Somerset County, PA; Frederick County, VA, or the city of Winchester, VA.</label>
          </div>
          <div>
            <input id="nonres-select" class="resident-radio" name="residency" type="radio" value="nonresident">
            <label for="nonres-select"><span></span>Outside WV and the Metro region</label>
          </div>
        </div>
      </fieldset>
    </div><!-- END .field-section -->

    <!-- STEP 2 -->
    <div id="living-field" class="field-section">
      <div id="living-num" class="field-number"><span class="circle">2</span></div>
      <div id="living-warning" class="hidden">* Required Selection</div>
      <fieldset>
        <legend id="step-2-desc" class="field-description">Will you be living in a WVU residence hall or at home with your parents and commuting?</legend>
        <div class="field-selection">
          <div>
            <input id="residence-hall-select"  class="living-radio" name="livingArrangement" type="radio" value="oncampus">
            <label for="residence-hall-select"><span></span>Living in WVU Residence Halls</label>
          </div>
          <div>
            <input id="home-parents-select" class="living-radio" name="livingArrangement" type="radio" value="commuter">
            <label for="home-parents-select"><span></span>Living at Home with Parents</label>
          </div>
          <div id="living-field-offcampus">
            <input id="offcamp-house-select" class="living-radio" name="livingArrangement" type="radio" value="offcampus">
            <label for="offcamp-house-select"><span></span>Living Off Campus (not with parents)</label>
          </div>
        </div>
      </fieldset>
    </div><!-- END .field-section -->

    <!-- STEP 3 -->
    <div id="study-field" class="field-section">
      <div id="study-num" class="field-number"><span class="circle">3</span></div>
      <div id="study-warning" class="hidden">* Required Selection</div>
      <fieldset class="field-dd">
        <legend id="step-3-desc" class="field-description" for="college-select">Which major are you interested in?</legend>
        <div class="field-selection">
          <select id="major-select" name="majorKey" class="college-dropdown">
            <r:set_var name="awsUrl">
              https://f09bec8ldd.execute-api.us-east-1.amazonaws.com/v0/programs?campus=keyser&level=undergraduate&type=major&projection=thin&sortby=title&format=xml
            </r:set_var>
            <r:xslt_transform url="{$awsUrl}" xslt_file="/views/xslt/list-programs-dropdown.xsl" cache_for="0"/>
          </select>
        </div>
      </fieldset>
    </div><!-- END .field-section -->

    <!-- SUBMIT BUTTON -->
    <div>
      <input id="saveForm" name="saveForm" type="submit" value="Submit for Estimate" class="button button--pms-300-c-fill button--big">
    </div><!-- END div/submit button -->

  </form>
</section><!-- END .estimate-form -->
