<div class="wvu-container">

  <div class="four-year-program">
    <h2 class="wvu-h1 wvu-shout--wvu-blue">Potomac State College Four-Year Programs</h2>
      <ul class="u-link-list">
        <r:descendants:each by="name" order="asc" labels="four-year-feature" labels_match="any" limit="200">
          <li><a href="<r:page:url />"><r:page:name /></a></li>
        </r:descendants:each>
      </ul>
  </div>
</div>
