<div class="get-started__container">
  <div class="wvu-container">
    <div class="get-started">

          <div class="get-started-header">
            <h1>Get Started Today</h1>
          </div>

          <div class="apply-today-button-container">
              <a href="https://westvirginia.force.com/TX_SiteLogin?startURL=%2FTargetX_Portal__PB" class="button button--pms-286-c apply-today-button">Apply Online Today</a>
          </div>

    </div>
  </div>
</div>
