<div class="wvu-container lp-profile-feature">
  <r:editable_region name="lp-profile-feature-heading-1" />
  <!-- 1st Row -->
  <div class="lp-profile-feature__item">
    <div class="lp-profile-feature__container">
      <r:editable_region name="lp-profile-feature__title-1" />
      <div class="lp-profile-feature__image">
        <r:editable_region name="lp-profile-feature__image-1" />
      </div>
      <div class="lp-profile-feature__copy">
        <r:editable_region name="lp-profile-feature__copy-1" />
      </div>
    </div>
  </div>
  <div class="lp-profile-feature__item">
    <div class="lp-profile-feature__container">
      <r:editable_region name="lp-profile-feature__title-second-1" />
      <div class="lp-profile-feature__image">
        <r:editable_region name="lp-profile-feature__image-second-1" />
      </div>
      <div class="lp-profile-feature__copy">
        <r:editable_region name="lp-profile-feature__copy-second-1" />
      </div>
    </div>
  </div>
  <div class="lp-profile-feature__item">
    <div class="lp-profile-feature__container">
      <r:editable_region name="lp-profile-feature__title-third-1" />
      <div class="lp-profile-feature__image">
        <r:editable_region name="lp-profile-feature__image-third-1" />
      </div>
      <div class="lp-profile-feature__copy">
        <r:editable_region name="lp-profile-feature__copy-third-1" />
      </div>
    </div>
  </div>
</div>
<!-- /.wvu-container -->
