<div class="wvu-container apply-info-diptych lp-triptych-1 lp-triptych-comparison-1">
  <r:editable_region name="lp-triptych-comparison__copy-1" />
  <!-- 1st Row -->
  <div class="wvu-triptych">
    <div class="wvu-triptych__container lp-triptych-comparison__container">
        <div class="wvu-spotlight">
          <r:editable_region name="lp-triptych__first--1" />
          <r:editable_region name="lp-triptych-comparison__first--1" />
        </div>
        <!-- /.wvu-spotlight -->
        <div class="wvu-spotlight lp-spotlight-highlight">
          <r:editable_region name="lp-triptych__second--1" />
          <r:editable_region name="lp-triptych-comparison__second--1" />
        </div>
        <!-- /.wvu-spotlight -->
        <div class="wvu-spotlight omega">
          <r:editable_region name="lp-triptych__third--1" />
          <r:editable_region name="lp-triptych-comparison__third--1" />
        </div>
        <!-- /.wvu-spotlight -->
      </div>
    </div>
  <!-- / 1st Row -->
</div>
<!-- /.wvu-container -->
