<div class="wvu-masthead wvu-masthead--<r:site:id /> wvu-masthead--<r:site:data name="masthead_color" /> wvu-masthead--buttons <r:files:each labels="masthead-logo" limit="1" types="image" random="true">wvu-masthead--blue</r:files:each>">
  <div class="wvu-masthead__container">
    <a class="wvu-masthead__logo" href="http://www.potomacstatecollege.edu/">
      <span class="wvu-masthead__title"><r:site:data name="masthead_title" /></span>
      <span class="psc-admissions-title">Admissions</span>
    </a>

<div class="wvu-masthead__search_apply-links">
      <div class="wvu-masthead__apply-links">
        <r:if expr="{{ NOT(BLANK(apply_link_1)) }}">
          <a href="<r:site:data name="apply_link_1_url" />" class="button"><r:site:data name="apply_link_1" /></a>
        </r:if>
        <r:if expr="{{ NOT(BLANK(apply_link_2)) }}">
          <a href="<r:site:data name="apply_link_2_url" />" class="button"><r:site:data name="apply_link_2" /></a>
        </r:if>
        <r:if expr="{{ NOT(BLANK(apply_link_3)) }}">
          <a href="<r:site:data name="apply_link_3_url" />" class="button"><r:site:data name="apply_link_3" /></a>
        </r:if>
        <r:partial name="patterns/wvu-custom-patterns/wvu-search--expanded-psc" />

      </div>
</div>

  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead -->
