</em><div class="admissions-footer wvu-container">
  <div class="where-is-psc footer-column">
    <h4 class="footer__heading where-is-psc__heading">Where is PSC?</h4>
      <img src="<r:image_url name="where-is-psc-map.jpg" />" alt="Map of the state of WV showing Keyser, WVU’s home in the Eastern Panhandle of the state. It borders MA, Maryland, and Virginia.">
    <p>Potomac State College is located in Keyser, WVU’s home in the Eastern Panhandle of the state. Fill in your address below to find out how close PSC is to you.</p>
    <form class="where-is-psc__form" action="https://www.google.com/maps" method="get">
      <label class="visuallyhidden focusable" for="starting-address">Enter your starting address:</label>
      <input id="starting-address" class="where-is-psc__address-field" placeholder="Enter Your Address..." type="text" name="saddr" />
      <input type="hidden" name="daddr" value="101 Fort Ave, Keyser, WV 26726" />
      <input type="submit" class="where-is-psc__directions-submit" value="Get Directions" />
    </form>
    <p>We also have campuses in <a href="http://admissions.wvutech.edu">Beckley</a> and <a href="http://admissions.wvu.edu/">Morgantown</a>, West Virginia. Learn more about <a href="/our-campuses">what makes each campus unique</a>.</p>
  </div> <!-- /.where-is-wvu -->

<div class="footer-column">
  <h4 class="footer__heading">Contact Us</h4>
  <div class="wvu-contact">
  <r:editable_region name="contact" scope="site" />
</div> <!-- /.wvu-contact -->
</div> <!-- /.footer-column -->

<div class="footer-column">
  <h4 class="footer__heading">Stay Connected</h4>
  <ul class="footer-social">

    <li class="footer-social__item">
      <a class="footer-social__item-link footer-social__item--twitter" href="https://twitter.com/pscenrollment">
        <img src="https://patterns.wvu.edu/images/social-media-icons/twitter.svg" alt="Potomac Potomac State College Admissions twitter" width="50" />
      </a>
    </li>

    <li class="footer-social__item">
      <a class="footer-social__item-link footer-social__item--facebook" href="https://www.facebook.com/pscenrollment/">
        <img src="https://patterns.wvu.edu/images/social-media-icons/facebook.svg" alt="Potomac Potomac State College Admissions facebook" width="50" />
      </a>
    </li>

    <li class="footer-social__item">
      <a class="footer-social__item-link footer-social__item--instagram" href="https://www.instagram.com/pscenrollment/">
        <img src="https://patterns.wvu.edu/images/social-media-icons/instagram.svg" alt="Potomac Potomac State College Admissions instagram" width="50" />
      </a>
    </li>

    <li class="footer-social__item">
      <a class="footer-social__item-link footer-social__item--youtube" href="http://www.youtube.com/user/PotomacStateWeb">
        <img src="https://patterns.wvu.edu/images/social-media-icons/youtube.svg" alt="Potomac Potomac State College Admissions youtube" width="50" />
      </a>
    </li>

    <li class="footer-social__item">
      <a class="footer-social__item-link footer-social__item--snapchat" href="https://www.snapchat.com/add/pscenrollment">
        <img src="https://patterns.wvu.edu/images/social-media-icons/snapchat.svg" alt="Potomac State College Admissions SnapChat" width="50" />
      </a>
    </li>

    <!--<li class="footer-social__item"><a class="footer-social__item-link footer-social__item-flickr" href="http://www.flickr.com/photos/potomacstateweb/sets/"><img src="../images/social-media-icons/flickr.svg" alt="Potomac state college Flickr" width="50" /></a></li> -->
  </ul> <!-- /.footer-social -->
</div> <!-- /.footer-column -->
</div> <!--/ admissions-footer -->
