<div class="wvu-section u-full-width background u-wvu-gold cost-aid-feature__background">
	<div class="wvu-container wvu-container__cost-aid-feature">
		<div class="cost-aid__feature-container">

			<div class="cost-aid__estimator-feature">
				<r:editable_region name="cost-aid__estimator-feature--1" scope="site">
				</r:editable_region>
			</div> <!-- /.cost-aid__estimator-feature -->

			<div id="tuition-fees" class="cost-aid__average-cost-container">
			  <div class="cost-aid__average-cost">
			    <r:editable_region name="cost-aid__average-cost--1" scope="site">
					</r:editable_region>
			  </div> <!-- /.cost-aid__estimator-feature -->
			</div> <!-- /.cost-aid__average-cost-container -->

		</div> <!-- /.cost-aid__feature-container -->
	</div> <!-- /.wvu-container -->
</div> <!-- /.wvu-section -->
