<div class="psc-majors__container wvu-polyptych__container">

  <r:page:if_has_content_for region="wvu-triptych__header2" always_show_in_edit_mode="true">
    <div class="psc-majors-header wvu-polyptych__header">
      <r:editable_region name="wvu-triptych__header2" scope="site">
        <p>Subhead goes here.</p>
      </r:editable_region>
    </div>
  </r:page:if_has_content_for>

  <div class="psc-majors-panels">

    <div class="panel psc-major-1">
      <r:editable_region name="all-majors" scope="site">
        <h3>Headline Goes Here</h3>
        <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
      </r:editable_region>
    </div>

    <div class="panel psc-major-2">
      <r:editable_region name="interest" scope="site">
        <h3>Headline Goes Here</h3>
        <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
      </r:editable_region>
    </div>

    <div class="panel psc-major-3">
      <r:editable_region name="counselor" scope="site">
        <h3>Headline Goes Here</h3>
        <p>Short description goes here. Do not put links here. Only one short paragraph.</p>
      </r:editable_region>
    </div>


  </div>
</div>
