<form class="form-search psc-search" action="https://search.wvu.edu/psc/results/" method="get">

  <label class="form-search__label" for="q">
    <span class="form-search__label-text">Search</span>
    <input id="q" class="psc-search-input" name="q" maxlength="256" placeholder="Search..." type="search" onkeyup="buttonUp();" />
  </label>

  <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
  <input id="output" name="output" type="hidden" value="xml_no_dtd" />
  <input id="ie" name="ie" type="hidden" value="UTF-8" />
  <input id="oe" name="oe" type="hidden" value="UTF-8" />
  <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
  <input id="client" name="client" type="hidden" value="default_frontend" />
  <input class="form-search__submit" name="btnG" type="submit" value="Search" />


  <input class="psc-search-submit" name="btnG" type="submit" value="Search" />
    <span class="psc-search-icon">&nbsp;</span>
  </label>

</form>
