// Style list for "All Majors"
.u-link-list,
.u-link-list li,
.u-link-list a,
.u-link-list__item-description {
  display: block;
  float: left;
  width: 100%;
} //.u-link-list, &:li, &:a

.u-link-list.u-link-list { // Specificity, gah!
  margin-left: 0;
  padding-left: 0;
} //.u-link-list

.u-link-list {
  margin-top: 10px;
  margin-bottom: 30px;
  list-style-type: none;
  li {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #f2f2f2;
    @include mq($bp-medium) {
      width: 48%;
      margin-right: 2%;
    } //mq
    @include mq($bp-xlarge) {
      width: 31%;
    } //mq
  } //li
  a {
    padding: 15px 5px;
    color: $wvu-blue;
    font-size: 1.1em;
    text-decoration: none;
    transition: .1s all ease-in-out;
    &:hover {
      background-color: $wvu-gold;
    } //&:hover
    @include mq($bp-small) {
      padding: 15px 35px;
    } //mq
  } //a
} //.u-link-list

.u-link-list__item-title,
.u-link-list__item-description {
  display: block;
} //.u-link-list__item-title, .u-link-list__item-description

.u-link-list__item-title {
  margin-bottom: .3rem;
} //.u-link-list__item-title

.u-link-list__item-description {
  padding-bottom: 10px;
  padding-top: 0;
  margin-top: 0;
  font-size: 1rem;
  @include mq($bp-medium) {
    max-width: 38em;
  } //mq
} //.u-link-list__item-description

.u-link-list--single-column {
  li {
    width: 100%;
    .js & {
      @include mq($bp-small) {
        border-bottom: 0;
      } //mq
      &:nth-child(odd) {
        @include mq($bp-small) {
          background-color: #fffaeb;
        } //mq
      } //&:nth-child(odd)
    } //.js &
  } //li
  a {
    .js & {
      @include mq($bp-small) {
        padding: 35px;
      } //mq
      @include mq($bp-medium) {
        padding: 55px 35px;
      } //mq
    } //.js &
  } //a
} //.u-link-list--single-column
