.admitted-list {
  ol {
    padding-left: .7em;
  	list-style-type: none;
  	counter-reset: li;
    @media (max-width: 48em){
      padding: 0;
    }

  }

  p {
    font-size: 12px; 
  }

  li {
  }

  h3 {
    margin: 0;
    padding-top: 0;
    color:  #0033A0;
  }

  a {
    word-wrap: break-word;
  }

  ol>li:before {
    counter-increment: li;
    content: counter(li);
  	color:  #0033A0;
  	margin-right: 0.25em;
    font-size: 2em;
    padding: 1.25rem 1rem;
    font-family: $helvetica-neue-condensed-black;
    font-weight: normal;
    top: -1px;
    left: -.3em;
    position: absolute;
    background-color: #e8e5e2;
    text-align: center;
    width: 1.75em;
    @media (max-width: 48em){
    }
  }
}

.admitted-list .button {
    margin-top: 1.7em;
}

.admitted-list ol>li {
  border-top: 1px solid #e8e5e2;
    position: relative;
    margin: 0 0 1rem 0rem;
    padding: 1.7rem 1.5em 3em 5em;
    list-style: none;
    min-height: 96px;
    min-height: 6rem;
    display: block;
    @media (max-width: 48em){
      margin: 3em 0 0 0;
      padding: 1.5em 0em 0em 3.5em;
    }
  }
