.get-started__container{
  width: 100%;
  background-color: $pms-629-c;
  color: #0033A0;
  text-align: center;
  h1 {
    color: $wvu-dune;
    text-transform: uppercase;
    font-family: $wvu-shout;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.get-started-header {
  float:left;
  position: relative;
  text-align: left;
  @media only screen and (max-width: 48em) {
    float: none;
}
}

.apply-today-button-container {

}

.apply-today-button {
  padding: 1em;
  font-size: 1.25em;
   @media only screen and (max-width: 48em) {
     margin-top: 1em;
   }
}
