// "Hero Section"
//==================================================
// Use $vignetting variable from _wvu-variables.scss to make text more visable on busy images.

// Hero Container
.psc-hero__container {
  padding: 4em 0 8.3em 0;
  @include u-wvu-container-padding();
  @include so-vignetting($wvu-hero-vignetting-opacity);
  @include mq($bp-xlarge) {
    padding: 5rem 0;
  } //mq
} //.wvu-hero__container

.psc-hero__container { @include outer-container(); }


// --Hero Typography--
.wvu-hero__copy h1 {
  margin-bottom: 1rem;
  @include mq($bp-mini) {
    font-size: 3.5rem;
  } //mq
  @include mq($bp-small) {
    font-size: 3.5rem;
  } //mq
  @include mq($bp-medium) {
    font-size: 5rem;
  } //mq
  @include mq($bp-large) {
    font-size: 6.5rem;
  } //mq
  @include mq($bp-xlarge) {
    font-size: 6.5em;
  } //mq
}
.wvu-hero__title-bottom-1 {
  color: $wvu-gold;
} //.wvu-hero__copy

.wvu-hero__copy .wvu-lede {
  max-width: 768px;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-family: $helvetica-neue-light;
  @include mq($bp-mini) {
    font-size: 1.5rem;
  } //mq
  @include mq($bp-medium) {
    font-size: 1.8rem;
  } //mq
  @include mq($bp-large) {
    font-size: 1.8rem;
  } //mq
} //wvu-hero__copy .wvu-lede

// Custom Code for Landing Pages

.custom-wvu-hero__container {
  padding: 4rem 1.5rem;
  @include mq($bp-medium) {
    padding: 6rem 1.5rem;
  } //mq
  @include mq($bp-xlarge) {
    padding: 6rem 0;
  } //mq
} //.wvu-hero__container

.wvu-hero__copy .custom-wvu-hero-h1 {
  margin-bottom: 2.5rem;
  @include mq($bp-mini) {
    font-size: 4rem;
  } //mq
  @include mq($bp-medium) {
    font-size: 5rem;
  } //mq
  @include mq($bp-large) {
    font-size: 6rem;
  } //mq
  @include mq($bp-xlarge) {
    font-size: 6rem;
  } //mq
}

.wvu-hero__copy .custom-wvu-lede {
  max-width: 650px;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-family: $helvetica-neue-light;
  @include mq($bp-mini) {
    font-size: 1.5rem;
  } //mq
  @include mq($bp-medium) {
    font-size: 1.5rem;
  } //mq
  @include mq($bp-large) {
    font-size: 1.5rem;
  } //mq
}

.custom-wvu-hero__container .button {
    margin-bottom: .5em;
    line-height: 1.4rem;
    padding: 1em 2.5em;
}

.custom-wvu-hero__container .button--pms-286-c-fill:hover {
  color: #ffffff;
  background-color: #0033A0;
  border-color: #0033a0;
}

$i: 90;
@while $i > 0 {
  .psc-hero__container {
    &.psc-hero__container--vignetting-#{$i} {
      &:before {
        opacity: $i * .01;
      }
    }
    $i: $i - 10;
  }
}
