@media (min-width: 81.25em) {
  .wvu-hero__container.lp-hero__container {
      padding: 9rem 0;
  }
}

.wvu-hero__container.lp-hero__container.lp-hero-comparison__container {
  h1, p {
    max-width: 75em;
    text-align: center;
  }
  h1 {
    margin-top: 0;
  }
  @include mq($bp-medium) {
    padding: 6rem 1.5rem 12rem;
  }
  @media (min-width: 81.25em) {
    padding: 9rem 0 12rem;
  }
}

.wvu-hero__container.lp-hero__container.lp-hero-comparison__container:before {
    z-index: 0;
}

.wvu-hero__copy.lp-hero__copy.wvu-hero__copy--edit-mode {
    width: 100%;
    margin-left: 0;
}

.lp-center-text {
  margin-right: 5%;
  margin-left: 5%;
  width: 89%;
  text-align: center;
  @include mq($bp-large) {
    margin-right: 15%;
    margin-left: 15%;
    width: 69%;
  }
}
.lp-hero__container {
  p, h1, h2, h3, a {
    max-width: 75em;
  }
}
