.u-wvu-blue.background .lp-diptych .wvu-diptych .u-wvu-white {
  color: #ffffff;
}

.u-wvu-blue.background .lp-diptych .wvu-diptych .u-wvu-white a {
  color: $wvu-gold;
  background-color: transparent;
}

.lp-triptych-comparison-1 {
  margin: 0 auto;
  padding: 0;
  @media (min-width: 48em) {
    padding: 0rem 1.5rem 0rem;
  }
  .wvu-triptych {
    @media (min-width: 48em) {
      background-color: #fff;
      top: -80px;
      position: relative;
    }
    .wvu-spotlight {
      padding: 72px 24px;
      border-top: #bfb8af 12px solid;
      background-color: #fff;
      margin-bottom: 0;
      @media (min-width: 48em) {
        padding: 72px 42px;
        margin-right: 0;
        width: 33.3%;
        float: left;
      }
      h2 {
        color: #002855;
      }
    }
    .wvu-spotlight.lp-spotlight-highlight {
      background-color: #002855;
      border-top: solid 12px #eaaa00;
      @media (min-width: 48em) {
        position: relative;
        top: -60px;
      }
      p, ul li {
        color: #fff;
      }
      p a {
        color: #eaaa00;
      }
      h2{
        color: #eaaa00;
      }
      h3 {
        color: #bfb8af;
      }
      span {
        color: white;
      }
    }
    p, h2, h3, a {
      text-align: center;
    }
    h2 {
      text-transform: uppercase;
      font-family: "HelveticaNeueW01-97Blac", "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
      font-size: 2.3rem;
      letter-spacing: 1px;
      line-height: .9;
      margin-top: 0;
      @media (min-width: 70em) {
        font-size: 3rem;
      }
    }
    h3 {
      text-transform: uppercase;
      color: #636259;
      font-weight: normal;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 0;
      margin-top: 1.5rem;
      .sub-heading {
        font-size: .8rem;
        text-transform: none;
      }
    }
    span {
      font-size: 3rem;
      font-family: "HelveticaNeueW01-97Blac", "HelveticaNeueW01-75Bold", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;
      margin: 0;
      padding: 0;
      color: #002855;
    }
    ul {
      list-style-type: none;
      margin-bottom: 3rem;
      li {
        padding-left: 2em;
        background: url(https://patterns.wvu.edu/images/diagonal-gold.svg) no-repeat 0 0px;
        margin-left: 0;
        font-size: 1em;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-size: 24px;
        border-right: 0;
        border-bottom: 0;
        margin-bottom: 28px;
      }
    }
    a.button {
      text-align: center;
      width: 100%;
      font-size: 1.2rem;
      padding: 24px 18px;
    }
  }
}
