.lp-profile-feature {
  .lp-profile-feature__container {
    @include mq($bp-medium) {
      @include outer-container();
    }
  }

  .lp-profile-feature__image {
    @include mq($bp-medium) {
      @include span-columns(3);
    }
  }

  .lp-profile-feature__copy {
    @include mq($bp-medium) {
      @include span-columns(9);
    }
    p {
      @include mq($bp-medium) {
        padding-left: 3.5rem;
      }
    }
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: .9;
    margin-bottom: 3rem;
    border-bottom: 1px solid #eaaa00;
    margin-top: 4rem;
  }
  .lp-profile-feature__image {
    text-align: center;
    @media (min-width: 48em) {
    }
  }
  img {
    border-radius: 200px;
    @include mq($bp-medium) {
      padding: 1.5rem;
    }
  }
  blockquote {
    border-left: none;
    padding-left: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #002855;
    margin-top: 2rem;
    max-width: 768px;
    @include mq($bp-medium) {
      padding-left: 3.5rem;
      font-size: 1.5rem;
    }
  }
  blockquote:before {
    @include mq($bp-medium) {
      content: "\201C";
      font-size: 6rem;
      display: block;
      margin-left: -62px;
      height: 50px;
      color: #002855;
    }
  }
}
