.need-help ul {
  /*list-style: none;
  padding-left: 0; */
}

.need-help p {
  font-family: $helvetica-neue-light;
  margin-bottom: 2em;
  margin-top: .95em;
  font-size: 2.2em;
  line-height: 1.08333333em;
}

.wvu-diptych {
  background-color: $wvu-gold;
  background-image: url(../images/need-help.png);
  width: 100%;
  background-position: 75% 50%;
  background-size: cover;
  h2 {
    font-family: $helvetica-neue-condensed-black;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 5em;
    margin: $wvu-shout-margin;
    line-height: .80487em;
    color: $wvu-blue;
    width: 73.35%;
  }
  h3 {
    margin-top: 1em;
    @include mq($bp-medium) {
      margin-top: 0;
    }
  }
  @media (max-width: 900px) {
    background-image: url(../images/need-help-dark.jpg);
    background-color: #2c2a29;
    color: $wvu-gold;
  }
}

.button-need-help {
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  background: transparent;
  color: white;
  display: inline-block;
  border: 2px solid $wvu-blue;
  background-color: $wvu-blue;
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1;
  padding: 1em 2em 1.1em 2em;
  text-decoration: none;
    @media (max-width: 900px) {
      background-color: transparent;
      border: 2px solid white;
      color: white;
  }
  &:visited {
    color: white;
    text-decoration: none;
}
}

a.button-need-help:hover {
  background-color: transparent;
  border: 2px solid $wvu-blue;
  color: $wvu-blue;
  @media (max-width: 900px) {
    background-color: white;
    border: 2px solid white;
    color: #2c2a29;
}
}

.wvu-diptych__need-help {
  float: left;
  @media (max-width: 900px) {
    width: 100%;
  }
}

.wvu-diptych__need-help:nth-child(2) {
  margin-right: 0;
}

.wvu-diptych__container {
  @include u-wvu-container-padding();
  @media (max-width: 900px) {
    position: relative;
  }
}

.wvu-diptych__header {
  font-size: 2.5em;
  @include wvu-lede();
  h2 {
    @include wvu-primary-pattern-heading();
  }
  h3 {
    @include wvu-lede();
  }
}

.wvu-diptych__panel {
  margin-bottom: 2em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}

.wvu-diptych__panels {
  display: table;
  width: 100%;
}

.wvu-diptych__postscript {
  @include wvu-postscript();
}

// Gold
// =====================================

.gold-diptych {
  color: $wvu-blue;
  width: 95%;
  h1{
    text-transform: uppercase;
    font-family: "HelveticaNeueW01-97Blac","Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
    font-weight: normal;
    color: $wvu-blue;
    margin-bottom: 0;
    line-height: .80487em;
    width: 73.35%;
  }
  @media (max-width: 900px) {
    color: white;
    width: 100%;
    h1, h2, h3, {
      color: white;
    }
  }
}

// Layout
// =====================================

.wvu-diptych {
  .wvu-diptych__panel {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
  .wvu-diptych__photo {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
  .wvu-diptych__copy {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
  .wvu-diptych__copy--wide {
    @include mq($bp-medium) {
      @include span-columns(12);
    }
  }
}

.wvu-diptych__container {
  @include outer-container();
}
