.psc-admissions-title {
    position: absolute;
    margin-top: .5em;
    margin-left: 2.2em;
    border-left: 1px solid;
    padding-left: .9em;
    font-size: .9em;
    font-weight: bold;
    text-transform: uppercase;
    @media (max-width: 569px) {
      position: initial;
      margin: 0;
      padding-left: 0;
      border: none;
      display: block;
    }
    @media (min-width: 570px) {
      margin-left: 4em;
    }
    @media (min-width: 767px) {
      margin-left: 2.2em;
    }
}

// Masthead
/////////////////////////////////////////

.wvu-masthead__apply-links {
  font-size: .8em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  @include mq($bp-medium) {
    font-size: 1em;
    margin-bottom: 0;
    padding-top: 2.7em;
    text-align: right;
  }
  @media (max-width: 1129px) {
    margin: 0;
    width: 100%;
    text-align: left;
    padding-left: 3.5em;
    margin-bottom: .5em;
    padding-top: 0;
  }
}

.wvu-masthead__apply-links a:nth-child(3){
  margin-right: .25em;
}


// Layout
// ==============================

.wvu-masthead--buttons {
  .wvu-masthead__logo {
    @include mq($bp-medium) {
      @include span-columns(12);
    }
    @include mq($bp-large) {
      @include span-columns(6.5);
    }
    @media (max-width: 1129px){
      width: 100%;
    }
  }
  .wvu-masthead__apply-links {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
    @include mq($bp-large) {
      float: right;
      display: block;
      margin-right: 2.35765%;
      width: 44.2647%;
    }
    @media (max-width: 1129px){
      width: 100%;
    }
  }
}
