.psc-search-container {
 width:100%;
 padding-top: 2.1em;
 white-space: nowrap;
 margin-left: auto;
 margin-right: 0;
 display: inline-block;
 float: right;
 text-align: right;
@include span-columns(7);
 @media only screen and (max-width: 1050px) {
   @include span-columns(12);
 }

 @media only screen and (max-width: 1050px) {
    text-align: center;
 		padding-top: 1.5em;
 		padding-bottom: 1em;
    margin-left: 0;
 	}
}


.psc-search {
 position:relative;
 min-width:60px;
 width:0%;
 height: 44px;
 float: right;
 overflow:hidden;
 -webkit-transition: width 0.3s;
 -moz-transition: width 0.3s;
 -ms-transition: width 0.3s;
 -o-transition: width 0.3s;
 transition: width 0.3s;
}

.psc-search-input {
 position:absolute;
 top:0;
 right:0;
 border:0;
 outline:0;
 width: 80%;
 height: 44px;
 margin:0;
 padding-left: 20px;
 font-size:20px;
 color: black;
}

input[type="submit"] {
&.psc-search-submit {
 	color: $black;
 	width: 60px;
    height: 44px;
    display: block;
    text-indent: -99999em;
    border: 2px solid white;
    background-color: $wvu-blue;
    background-image: url(https://patterns.wvu.edu/images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    border-radius: 3px;
    padding: 4px 4px 0 4px;
 	position:absolute;
 	right:0;
 	padding:0;
 	margin:0;
 	top: 0;
    &:hover {
      background-color: $wvu-gold;
      border-color: $wvu-gold;
    		}
	}
}

.psc-search-icon {
 	color: $black;
 	width: 60px;
    height: 44px;
    display: block;
    text-indent: -99999em;
    border: 2px solid white;
    background-color: $wvu-blue;
    background-image: url(https://patterns.wvu.edu/images/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 50% 50%;
    border-radius: 3px;
    padding: 4px 4px 0 4px;
 	position:absolute;
 	right:0;
 	padding:0;
 	margin:0;
 	top: 0;
    &:hover {
      background-color: $wvu-gold;
      border-color: $wvu-gold;
    		}
	}


.psc-search-open{
 width: 27%;
 @media (max-width: 60em){
   width: 45%;
 }
}


@media only screen and (max-width: 47.9em) {
 .scale-button {
   font-size: .9em;
   padding: .35em .45em;
 	}
  .psc-search {
    display: none;
  }
  .psc-search-input {
    display: none;
  }
  .psc-search-submit  {
  display: none;
  }
  .psc-search-icon {
  display: none;
}
}

@media screen and (min-width: 48em) {
  .wvu-masthead__search-slider {
  display: none;
  }
}

.wvu-masthead__search-slider.closed{
  @include wvu-blue-background;
}
