// Global Footer
//==================================================
// Styles that apply to all three columns of the Admissions footer.


// --Footer columns--
.admissions-footer {
  @include mq($bp-large) {
    display: flex;
  } //mq
} //.admissions-footer

.footer-column {
  font-size: .85em;
  @include mq($bp-large) {
    @include span-columns(4);
    flex: 1;
    border-left: 1px solid #efeeed;
    padding-left: 35px;
    padding-right: 10px;
    &:first-child {
      padding-left: 0;
      border-left: 0;
    } //&:first-child
  } //mq
} //.footer-column

.footer__heading {
  font-size: 4.4em;
  margin-bottom: 22px;
} //.footer__heading


// Footer Social
//==================================================
// Styles for Admissions social icons in the footer

.footer-social {
  float: left;
  width: 100%;
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
} //.footer-social

.footer-social__item {
  float: left;
  margin-right: 20px;
} //.footer-social__item

.footer-social__item-link {
  float: left;
  color: $black;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  &:visited {
    color: $black;
  } //&:visited
  &:hover {
    color: #fff;
    text-decoration: underline;
  } //&:hover
  .svg & {
    background-repeat: no-repeat;
    padding: 15px 20px 15px 65px;
    min-width: 145px;
    transition: .2s background-color ease-in-out;
  }
} //.footer-social__item-link

// Test for SVG support via Modernizr

  .footer-social__item--twitter {
    &:hover {
      background-color: #1CB7EB;
    } //&:hover
  } //.footer-social__item--twitter
  .footer-social__item--instagram {
    &:hover {
      background-color: #444444;
    } //&:hover
  } //.footer-social__item--instagram
  .footer-social__item--flickr{
    &:hover {
      background-color: #E8E8E8;
    } //&:hover
  } //.footer-social__item--pinterest
  .footer-social__item--facebook {
    &:hover {
      background-color: #4E71A8;
    } //&:hover
  } //.footer-social__item--facebook
  .footer-social__item--youtube {
    &:hover {
      background-color: #CA3737;
    }//&:hover
  } //.footer-social__item--youtube
  .footer-social__item--snapchat {
    &:hover {
      background-color: #FFFC00;
    }//&:hover
  } //.footer-social__item--youtube


// Where is WVU?
//==================================================
// "Where is WVU?" section in the footer.

.where-is-psc__heading {
  margin-top: 0;
  @include mq($bp-large) {
    margin-top: 1.33em;
  } //mq
} //.where-is-wvu__heading

// --Form Styling--
.where-is-psc__form {
  display: flex;
} //.where-is-wvu__form

.where-is-psc__address-field.where-is-psc__address-field { // Specificity, gah!@#
  flex: 1;
  min-height: 30px;
  background-color: #f4f4f4;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  padding: 15px;
  &:focus {
    background-color: #fff;
    outline: 1px solid #f4f4f4;
  }
}

.where-is-psc__directions-submit.where-is-psc__directions-submit {
  border-radius: 0;
  font-weight: normal;
  font-family: $helvetica-neue-font-stack;
  height: 47px;
}

// -- Visually Hidden --
.visuallyhidden {
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
} //.visuallyhidden

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
} //.visuallyhidden.focusable


// Footer Contact
//==================================================

.admissions-contact__wrap {
  margin-top: 18px;
}
