// Cost and Aid Estimator
//==================================================

// -- Hidden  --
.hidden {
  display: none;
}

// Cost and Aid Feature
//==================================================

// -- Background Image --
.cost-aid-feature__background {
  background-image: url('../images/blue-wvu-pattern2.png');
  background-size: cover;
  background-color: $wvu-blue;
} //.cost-aid-feature__background

// -- Layout --
.wvu-container__cost-aid-feature {
  padding: 0;
} //.wvu-container__cost-aid-feaure

.cost-aid__feature-container {
  @include outer-container;
  @include mq($bp-medium) {
    display: flex;
    align-items: center;
  } //mq
  .cost-aid__estimator-feature {
    @include mq($bp-medium) {
      @include span-columns(7);
    } //mq
  } //cost-aid__estimator-feature
  .cost-aid__average-cost-container {
    @include mq($bp-medium) {
      @include span-columns(4);
      @include shift(1);
    } //mq
  } //cost-aid__average-cost-container
} //cost-aid__feature-container

// -- Estimator Feature --
.cost-aid__estimator-feature {
  padding: 3rem 2rem;
  color: white;
  h2 {
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    font-family: $helvetica-neue-condensed-black;
    font-weight: normal;
    font-size: 4em;
    @media only screen and (max-width: 48em) {
      font-size: 3em;
    } //mq
  } //h2.h1
  p {
    margin-bottom: 0;
    color: white;
    .wvu-lede-small {
      margin-bottom: 1.5rem;
      @include mq($bp-small) {
        padding: 0 3rem;
      } //mq
    } //.wvu-lede-small
  } //p
  th {
    border-bottom: none;
  } //td, th
  td{
    @media only screen and (max-width: 48em){
      display: inline-block;
      width: 30.5%;
    }
  }

} //cost-aid__estimator-feature

.cost-aid__average-cost-container {
  @include wvu-gold-background;
  padding: 3rem 2rem;
  @media only screen and (min-width: 48em){
    padding: 6.5rem 2rem;
  }
  h2.h3 {
    margin-top: 0;
    color: $pms-300-c;
    text-transform: uppercase;
  } //h2.h3
  p.wvu-text--micro {
    margin-bottom: 0;
  } //p.wvu-text--micro
  td,
  th {
    border-color: $wvu-blue;
    border-bottom: none;
  } //td, th
  tr {
    border-color: #002855;
  }
  td{
    @media only screen and (max-width: 48em){
      display: inline-block;
    }
  }
} //cost-aid__average-cost-container

.cost-aid__average-cost--wide {
  width: 170px;
  @include mq($bp-mini) {
    width: 230px;
  } //mq
  @include mq($bp-medium) {
    width: auto;
  } //mq
  @include mq($bp-xlarge) {
    width: 165px;
  } //mq
  td{
    @media only screen and (max-width: 48em){
      display: inline-block;
    }
  }
}

@include mq($bp-medium){
  th:first-child.cost-aid__average-cost--wide.rates {
    width: 100px;
    padding: none;
  }

  th.cost-aid__average-cost--wide.rates {
    padding: 0 .25em;
  }
}


.col-width {
  width: 80px;
}
