.psc-majors-header p {
  margin-top: 0;
}
.psc-majors__container{

h2 {
  font-size: $wvu-shout-font-size;
  margin: $wvu-shout-margin;
  text-align: center;
}
h3 {
  font-size: 2em;
  margin-top: 1em;
  @include mq($bp-medium) {
    margin-top: 0;
  }
}
}

.psc-majors-panels {
  margin-top: 1.75em;
  display: table;
  width: 100%;
}

.panel {
  width: 100%;
  float: none;
  @media (min-width: 48em) {
    width: 30%;
    float: left;
    margin-right: 1em;
  }
}

.psc-major-1 {
  border-left: 10px solid #9BD3DD;
  margin-top: 1em;
  padding-left: 1em;
}

.psc-major-2 {
  border-left: 10px solid #E35205;
  margin-top: 1em;
  padding-left: 1em;
}

.psc-major-3 {
  border-left: 10px solid #eaaa00;
  margin-top: 1em;
  padding-left: 1em;
}
