<div class="wvu-icons">
  <ul class="wvu-links">

    <li><a href="http://www.potomacstatecollege.edu/about/campus_virtual_tour/">Campus Map</a></li>
    <li><a href="http://www.potomacstatecollege.edu/about/contact_us/faculty_and_staff_directory.html">Directory</a></li>
    <li><a href="http://www.potomacstatecollege.edu/about/jobs.html">Jobs</a></li>
    <!--<li class="first"><a href="http://www.wvutech.edu/a_z_site_index">Site Index</a></li> -->

  </ul>
  <ul class="wvu-links">
    <li><a href="https://www.mountaineerconnection.com/sslpage.aspx?pid=501&section=Potomac%20State%20College%20of%20WVU">Give</a></li>
    <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
    <li><a href="http://www.potomacstatecollege.edu/cal/">Calendar</a></li>
    <li><a href="http://alert.potomacstatecollege.edu/">PSC Alert</a></li>
    <li><a href="http://mix.wvu.edu/">MIX</a></li>
  </ul>

  <ul class="wvu-social">
    <li><a class="wvu-tech-instagram" href="http://instagram.com/wvu_tech">WVU Tech on Instagram</a></li>
    <li><a class="wvu-flickr" href="http://www.flickr.com/photos/tech-relations-communications/sets/">Potomac State College on Flickr</a></li>
    <li><a class="wvu-facebook" href="http://www.facebook.com/pages/Montgomery-WV/West-Virginia-University-Institute-of-Technology/147509211929495">WVU Tech on Facebook</a></li>
    <li><a class="wvu-twitter" href="http://twitter.com/WVU_Tech">WVU Tech on Twitter</a></li>
    <li><a class="wvu-youtube" href="http://www.youtube.com/WVUTech1895">WVU Tech on YouTube</a></li>
  </ul>
</div> <!-- /.wvu-icons -->
