<div class="wvu-credits" role="contentinfo">
  <ul>
    <li><a href ="http://www.potomacstatecollege.edu/about/accreditation.html">Accreditations</a></li>
    <!--<li><a href="">Questions or Comments?</a></li>-->
  </ul>

  <p>Mailing Address: 101 Fort Ave. Keyser, WV 26726 <br>
    &copy; <r:date_format format="%Y" value="now" /> Potomac State College. Potomac State College is a Division of <a href="http://wvu.edu/">West Virginia University</a><br>
     Potomac State College is an EEO/Affirmative Action employer — Minority/Female/Disability/Veteran.
  </p>
</div> <!-- /.wvu-credits -->
