<div class="wvu-footer wvu-footer--<r:site:id /> <r:site:data name="bgcolor_footer" /> background">
  <div class="wvu-footer__container">
    <r:partial name="patterns/psc-footer__credits--v2" />
    <r:partial name="patterns/psc-footer__icons--v1" />
  </div>
</div>
