<div class="wvu-quicklinks wvu-quicklinks--<r:site:id /> <r:var name="wvu-quicklinks__classes" /> <r:page:data name="bgcolor_quicklinks" /> background">
  <div class="wvu-quicklinks__container">

    <r:page:if_has_content_for region="wvu-quicklinks__header-2" always_show_in_edit_mode="true">
      <div class="wvu-quicklinks__header">
        <r:editable_region name="wvu-quicklinks__header-2">
          <h2>Quicklinks Headline</h2>
          <p>Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="wvu-quicklinks__quicklinks">
      <r:editable_region name="wvu-quicklinks__quicklinks-2">
        <ul>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
          <li><a href="#">Quicklink</a></li>
        </ul>
      </r:editable_region>
    </div>

  </div>
</div>

<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Quicklinks:</strong> Displays a simple list of links.</p>
  </div>
</r:edit_mode_only>
