<div class="wvu-masthead__search-slider">
  <r:partial name="patterns/wvu-masthead__search-bar--psc" />
</div>
<div class="wvu-nav wvu-nav--<r:site:id />">
  <div class="wvu-nav__container">

    <div class="wvu-nav__nav wvu-nav__nav--depth-<r:site:data name="nav_depth" />">
      <button class="wvu-nav__search-toggle inactive-search" onclick="document.getElementsByClassName('wvu-masthead__search-slider')[0].classList.toggle('closed');">Toggle Search</button>
      <r:site_menu max_depth="{$nav_depth}" ul_class="wvu-nav__items nav-collapse" has_children_class="more" />
    </div>

  </div>
</div>
