<div class="wvu-footer wvu-footer--<r:site:id /> <r:site:data name="bgcolor_footer" /> background">
  <div class="wvu-footer__container">
    <r:partial name="layouts/footer__credits--v2" theme="Code" />
    <r:partial name="layouts/footer__icons--v2" theme="Code" />
  </div>
</div>
