<div class="wvu-masthead__search-bar">
  <div class="wvu-masthead__search-and-submit">
    <r:partial name="patterns/wvu-masthead__links--psc" />
    <r:partial name="patterns/wvu-search--psc" />
  </div>
</div>
