<div class="wvu-masthead <r:var name="wvu-masthead__classes" />">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo--psc" />
    <r:partial name="patterns/wvu-masthead__search-bar--psc" />
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead -->
