.wrap__frontpage-intro {
  width: 100%;
  background: #47a3ff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#47a3ff), to(#3091f2));
  background-image: -webkit-linear-gradient(#47a3ff, #3091f2);
  background-image: linear-gradient(#47a3ff, #3091f2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }

.frontpage-intro {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  overflow: hidden;
  *zoom: 1;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .frontpage-intro {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .frontpage-intro {
      padding: 60px 36px; } }

.frontpage-intro__call-to-action {
  width: 100%;
  margin: 0 0%;
  float: left;
  text-align: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  .frontpage-intro__call-to-action h1 {
    font-size: 1.86624em;
    font-weight: 600;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
    letter-spacing: 1px;
    text-transform: none;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    @media only screen and (min-width: 33.75em) {
      .frontpage-intro__call-to-action h1 {
        font-size: 2.23949em;
        text-align: left;
        margin-top: 6%; } }
    @media only screen and (min-width: 37.5em) {
      .frontpage-intro__call-to-action h1 {
        margin-top: 2%; } }
    @media only screen and (min-width: 48.75em) {
      .frontpage-intro__call-to-action h1 {
        font-size: 3.22486em; } }
    @media only screen and (min-width: 66.25em) {
      .frontpage-intro__call-to-action h1 {
        margin-top: 1%;
        font-size: 3.86984em; } }

.frontpage-intro__image {
  display: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media only screen and (min-width: 33.75em) {
    .frontpage-intro__image {
      display: inherit;
      float: left;
      margin-right: -100%;
      width: 38.75%;
      margin-left: 0%;
      overflow: hidden;
      *zoom: 1; } }
  @media only screen and (min-width: 37.5em) {
    .frontpage-intro__image {
      float: left;
      margin-right: -100%;
      width: 30%;
      margin-left: 0%; } }
  @media only screen and (min-width: 55em) {
    .frontpage-intro__image {
      float: left;
      margin-right: -100%;
      width: 21.25%;
      margin-left: 0%; } }

@media only screen and (min-width: 33.75em) {
  .frontpage-intro__call-to-action--wrapper {
    float: left;
    margin-right: -100%;
    width: 56.25%;
    margin-left: 43.75%; } }
@media only screen and (min-width: 37.5em) {
  .frontpage-intro__call-to-action--wrapper {
    float: left;
    margin-right: -100%;
    width: 65%;
    margin-left: 35%; } }
@media only screen and (min-width: 55em) {
  .frontpage-intro__call-to-action--wrapper {
    float: left;
    margin-right: -100%;
    width: 73.75%;
    margin-left: 26.25%; } }

a.button__cost {
  width: 100%;
  margin: 0 0%;
  float: left;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin: 24px 0 12px;
  font-size: 1.08em;
  font-weight: 600;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
  letter-spacing: 0.05em;
  border-radius: 6px;
  background-color: #bc481a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7521d), to(#c1491a));
  background-image: -webkit-linear-gradient(#d7521d, #c1491a);
  background-image: linear-gradient(#d7521d, #c1491a);
  text-align: center;
  padding: 12px;
  border-top: none;
  border-right: 4px solid #a03d15;
  border-bottom: 4px solid #a03d15;
  border-left: none; }
  @media only screen and (min-width: 40.63em) {
    a.button__cost {
      margin-top: 24px;
      font-size: 1.296em;
      float: left;
      width: 400px; } }
  @media only screen and (min-width: 55em) {
    a.button__cost {
      margin-top: 30px; } }
  a.button__cost:hover, a.button__cost:focus {
    background: #d7521d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d7521d), to(#ac4117));
    background-image: -webkit-linear-gradient(#d7521d, #ac4117);
    background-image: linear-gradient(#d7521d, #ac4117);
    text-decoration: underline; }

.wrap__frontpage-cost-intro {
  width: 100%;
  background: #ffe894;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf3db), to(#fae7b7));
  background-image: -webkit-linear-gradient(#fcf3db, #fae7b7);
  background-image: linear-gradient(#fcf3db, #fae7b7); }

.frontpage-cost-intro {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .frontpage-cost-intro {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .frontpage-cost-intro {
      padding: 48px 36px; } }
  .frontpage-cost-intro h2 {
    font-size: 1.5552em;
    font-weight: 400;
    text-align: center;
    color: #836009; }
    @media only screen and (min-width: 40.63em) {
      .frontpage-cost-intro h2 {
        font-size: 1.86624em; } }
    @media only screen and (min-width: 48.75em) {
      .frontpage-cost-intro h2 {
        font-size: 2.23949em; } }
    @media only screen and (min-width: 55em) {
      .frontpage-cost-intro h2 {
        font-size: 2.68739em; } }
    .frontpage-cost-intro h2 strong {
      font-weight: bold;
      font-weight: 500; }

.arrow__down {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #fae7b7;
  margin: 0 auto; }

.wrap__frontpage-cost {
  width: 100%;
  background: #f2f4f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f4f7), to(#e9edf2));
  background-image: -webkit-linear-gradient(#f2f4f7, #e9edf2);
  background-image: linear-gradient(#f2f4f7, #e9edf2); }

.frontpage-cost {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .frontpage-cost {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .frontpage-cost {
      padding: 48px 36px; } }
  @media only screen and (min-width: 48.75em) {
    .frontpage-cost {
      padding: 60px 36px; } }
  .frontpage-cost h3 {
    font-size: 1.08em;
    text-align: center;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
    text-transform: uppercase;
    color: #fff;
    background: #0673dd;
    padding: 24px 0;
    margin-bottom: 0; }
    @media only screen and (min-width: 21.25em) {
      .frontpage-cost h3 {
        font-size: 1.296em; } }
    .frontpage-cost h3 span {
      font-weight: 400;
      display: block;
      font-size: 0.9em; }
    @media only screen and (min-width: 40.63em) {
      .frontpage-cost h3 {
        font-size: 1.86624em; } }
    @media only screen and (min-width: 48.75em) {
      .frontpage-cost h3 {
        font-size: 1.5552em; } }

.frontpage-intro__avg-cost-intro, .frontpage-intro__avg-cost, .frontpage-intro__avg-cost-disclaimer {
  width: 100%;
  margin: 0 0%;
  float: left; }

.frontpage-intro__avg-cost-intro h2 {
  font-weight: 500;
  font-size: 1.296em;
  color: #617480;
  text-align: center;
  margin-bottom: 24px;
  line-height: 1.3; }
  @media only screen and (min-width: 37.5em) {
    .frontpage-intro__avg-cost-intro h2 {
      font-size: 1.5552em;
      margin-bottom: 36px; } }
  @media only screen and (min-width: 48.75em) {
    .frontpage-intro__avg-cost-intro h2 {
      font-size: 1.86624em;
      margin-bottom: 0px; } }
  @media only screen and (min-width: 55em) {
    .frontpage-intro__avg-cost-intro h2 {
      font-size: 2.23949em; } }

.frontpage-intro__avg-cost-disclaimer h4 {
  font-weight: 400;
  color: #5b6e7b;
  margin: 0 0 36px 0;
  line-height: 1.6;
  font-size: 1.08em;
  text-align: center; }
  @media only screen and (min-width: 48.75em) {
    .frontpage-intro__avg-cost-disclaimer h4 {
      font-size: 1.296em;
      float: left;
      margin-right: -100%;
      width: 82.5%;
      margin-left: 8.75%;
      margin-top: 36px;
      margin-bottom: 48px; } }

.responsive-table {
  width: 100%;
  margin: 0 0%;
  float: left;
  margin-bottom: 1.5em;
  background-color: #fff;
  border: 1px solid #e7e7e7; }
  .responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden; }
    @media only screen and (min-width: 48.75em) {
      .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto; } }
    .responsive-table thead th {
      font-weight: 500;
      text-align: center; }
      .responsive-table thead th:first-of-type {
        text-align: left; }
  .responsive-table tbody, .responsive-table tr, .responsive-table th, .responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal; }
  @media only screen and (min-width: 48.75em) {
    .responsive-table tr {
      display: table-row; } }
  .responsive-table th, .responsive-table td {
    padding: 6px;
    vertical-align: middle;
    border-top: 1px solid #e7e7e7; }
    @media (min-width: 30em) {
      .responsive-table th, .responsive-table td {
        padding: 0.75em 0.5em; } }
    @media only screen and (min-width: 48.75em) {
      .responsive-table th, .responsive-table td {
        display: table-cell;
        padding: 0.5em; } }
    @media (min-width: 62em) {
      .responsive-table th, .responsive-table td {
        padding: 0.75em 0.5em; } }
    @media (min-width: 75em) {
      .responsive-table th, .responsive-table td {
        padding: 0.75em; } }
  .responsive-table caption {
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    color: #45545f;
    line-height: 1.4;
    padding: 18px;
    text-transform: uppercase; }
    @media only screen and (min-width: 40.63em) {
      .responsive-table caption {
        font-size: 1.08em; } }
    @media only screen and (min-width: 48.75em) {
      .responsive-table caption {
        font-weight: 500;
        text-transform: none; } }
  .responsive-table tfoot {
    font-size: 1.08em;
    font-style: italic; }
    @media (min-width: 62em) {
      .responsive-table tfoot {
        font-size: 1.08em; } }
  @media only screen and (min-width: 48.75em) {
    .responsive-table tbody {
      display: table-row-group; } }
  .responsive-table tbody tr {
    margin-bottom: 1em; }
    @media only screen and (min-width: 48.75em) {
      .responsive-table tbody tr {
        display: table-row;
        border-width: 1px; } }
    .responsive-table tbody tr:last-of-type {
      margin-bottom: 0; }
  .responsive-table tbody th[scope="row"] {
    color: #45545f;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500; }
    @media only screen and (min-width: 40.63em) {
      .responsive-table tbody th[scope="row"] {
        font-size: 1.08em; } }
    @media only screen and (min-width: 48.75em) {
      .responsive-table tbody th[scope="row"] {
        background-color: transparent;
        color: #45545f;
        text-align: left; } }
  .responsive-table tbody td {
    text-align: right; }
    @media only screen and (min-width: 48.75em) {
      .responsive-table tbody td {
        text-align: center; } }
  .responsive-table tbody td[data-type=currency] {
    text-align: right; }
  .responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: 1.08em;
    color: #45545f; }
    @media only screen and (min-width: 48.75em) {
      .responsive-table tbody td[data-title]:before {
        content: none; } }

.frontpage-cost-undergrad, .frontpage-cost-grad {
  width: 100%;
  float: left;
  background: #FFFFFF;
  padding: 18px;
  border-radius: 6px;
  border-bottom: solid 6px #a9bacb;
  border-right: solid 6px #a9bacb;
  border-left: solid 1px #cbd5e0;
  border-top: solid 1px #dce3ea; }

.frontpage-cost-undergrad {
  margin-bottom: 36px; }
  @media only screen and (min-width: 48.75em) {
    .frontpage-cost-undergrad {
      float: left;
      margin-right: -100%;
      width: 47.5%;
      margin-left: 0%; } }
  .frontpage-cost-undergrad thead, .frontpage-cost-undergrad th[scope="row"] {
    background-color: #ebf0f4; }
  .frontpage-cost-undergrad caption {
    background: #cfdae3; }

@media only screen and (min-width: 48.75em) {
  .frontpage-cost-grad {
    float: left;
    margin-right: -100%;
    width: 47.5%;
    margin-left: 52.5%; } }
.frontpage-cost-grad h3 {
  background: #eeb011;
  color: #45545f;
  text-shadow: rgba(255, 255, 255, 0.8) 2px 2px 1px; }
  .frontpage-cost-grad h3 span {
    color: #586b78; }
.frontpage-cost-grad thead, .frontpage-cost-grad th[scope="row"] {
  background-color: #f4f1e9; }
.frontpage-cost-grad caption {
  background: #e4dcc9; }

.wrap__frontpage-estimator {
  width: 100%;
  background-image: #fff; }

.frontpage-estimator__form, .frontpage-estimator__results {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .frontpage-estimator__form, .frontpage-estimator__results {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .frontpage-estimator__form, .frontpage-estimator__results {
      padding: 48px 36px; } }
  @media only screen and (min-width: 48.75em) {
    .frontpage-estimator__form, .frontpage-estimator__results {
      padding: 60px 36px; } }
  .frontpage-estimator__form h2, .frontpage-estimator__results h2 {
    margin: 24px 0 36px;
    text-align: center;
    font-weight: 600; }
    @media only screen and (min-width: 37.5em) {
      .frontpage-estimator__form h2, .frontpage-estimator__results h2 {
        text-align: left;
        font-size: 2.23949em; } }
    @media only screen and (min-width: 48.75em) {
      .frontpage-estimator__form h2, .frontpage-estimator__results h2 {
        text-align: left;
        font-size: 2.68739em; } }
  .frontpage-estimator__form p, .frontpage-estimator__results p {
    color: #45545f;
    text-align: center;
    font-weight: 400;
    padding-bottom: 36px;
    max-width: 925px; }
    @media only screen and (min-width: 37.5em) {
      .frontpage-estimator__form p, .frontpage-estimator__results p {
        text-align: left; } }
    @media only screen and (min-width: 48.75em) {
      .frontpage-estimator__form p, .frontpage-estimator__results p {
        font-size: 1.296em; } }
  .frontpage-estimator__form hr, .frontpage-estimator__results hr {
    border-top: solid 1px #e6e9eb; }
  .frontpage-estimator__form blockquote.important, .frontpage-estimator__results blockquote.important {
    color: #45545f;
    font-size: 1.08em;
    padding: 24px;
    line-height: 1.5;
    border-left: 6px solid #bc481a;
    margin: 36px 0 36px 18px;
    background: #f7eae5; }
    @media only screen and (min-width: 48.75em) {
      .frontpage-estimator__form blockquote.important, .frontpage-estimator__results blockquote.important {
        font-size: 1.296em;
        padding: 36px; } }
    .frontpage-estimator__form blockquote.important strong, .frontpage-estimator__form blockquote.important b, .frontpage-estimator__results blockquote.important strong, .frontpage-estimator__results blockquote.important b {
      color: #bc481a; }

.field-section {
  margin: 24px 0;
  padding-top: 18px; }

.field-section fieldset, .field-section div.field-dd {
  padding-bottom: 36px;
  border-bottom: solid 1px #e6e9eb; }

.field-number {
  margin-bottom: 36px;
  width: auto;
  float: none; }
  @media only screen and (min-width: 55em) {
    .field-number {
      float: left;
      margin-right: -100%;
      width: 12.5%;
      margin-left: 0%; } }

.circle {
  border-radius: 50%;
  width: 87px;
  height: 87px;
  background-color: #edf1f4;
  margin: 0 auto;
  display: block;
  font-size: 3.22486em;
  text-align: center;
  background-color: #e2edf3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5f9fb), to(#e2edf3));
  background: -webkit-linear-gradient(#f5f9fb, #e2edf3);
  background: linear-gradient(#f5f9fb, #e2edf3); }

.field-description {
  font-size: 1.1em;
  color: #45545f;
  width: 100%;
  margin-bottom: 12px; }
  @media only screen and (min-width: 55em) {
    .field-description {
      float: left;
      margin-right: -100%;
      width: 38.75%;
      margin-left: 17.5%; } }

.field-selection {
  color: #5c6f7c;
  font-size: 1em; }
  @media only screen and (min-width: 55em) {
    .field-selection {
      float: left;
      margin-right: -100%;
      width: 38.75%;
      margin-left: 61.25%; } }

.college-dropdown {
  width: 100%;
  margin-top: 24px; }

fieldset {
  border: 0;
  padding: 0; }

input[type=text], input[type=email], input[type=url], input[type=password], textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee; }

input[type=text], input[type=email], input[type=url], input[type=password] {
  width: 50%; }

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, textarea:focus {
  outline: 0;
  border-color: #4697e4; }

@media only screen and (min-width: 37.5em) {
  form > div {
    margin: 0 0 15px 0; }
  form > div > label, legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0; }
  form > div > div, form > div > fieldset > div {
    width: 100%;
    float: none; }
  input[type=text], input[type=email], input[type=url], input[type=password], textarea, select {
    width: 100%; } }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  font-weight: 500;
  padding: 12px;
  display: block; }

input[type="radio"] + label span {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) 0px top no-repeat;
  cursor: pointer; }

div:hover input[type="radio"] + label:hover {
  color: #002855;
  background: whitesmoke;
  border-radius: 6px; }
  div:hover input[type="radio"] + label:hover span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -46px top no-repeat; }

input[type="radio"]:checked + label {
  color: #002855; }
  input[type="radio"]:checked + label span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -92px top no-repeat; }

div:hover input[type="radio"]:checked + label:hover {
  color: #002855; }
  div:hover input[type="radio"]:checked + label:hover span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -138px top no-repeat; }

.warning, .estimate-results-error {
  background-color: #ae2727;
  color: #fff;
  margin: 0 -24px 36px;
  padding: 12px 24px;
  text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px; }
  .warning p, .estimate-results-error p {
    font-size: 1.4em;
    line-height: 29px;
    letter-spacing: 0.07em;
    margin-top: 12px;
    font-weight: 600;
    color: #fff; }
  .warning ul, .estimate-results-error ul {
    list-style-type: none;
    padding-left: 24px; }
    .warning ul li, .estimate-results-error ul li {
      line-height: 23px;
      margin-bottom: 24px; }
      .warning ul li a, .estimate-results-error ul li a {
        color: #fff;
        border-bottom: none; }
        .warning ul li a:hover, .warning ul li a:focus, .estimate-results-error ul li a:hover, .estimate-results-error ul li a:focus {
          text-decoration: underline; }

.warning-field-section .circle {
  color: #b95050;
  background: #ffffff;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7d1d1));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7d1d1 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7d1d1));
  background: linear-gradient(to bottom, #ffffff 0%, #f7d1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7d1d1', GradientType=0 ); }

.warning-field-section .warning-bar {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 2% 5%;
  background-color: #ae2727;
  color: #fff;
  width: 100%;
  margin-bottom: 18px;
  width: 100%;
  margin: 0 0%;
  float: left; }
  @media only screen and (min-width: 55em) {
    .warning-field-section .warning-bar {
      width: 82.5%;
      margin-left: 17.5%;
      padding: 1.5% 4%;
      margin-bottom: 2%; } }

.warning-field-section input[type="radio"] + label span {
  color: #cc2626;
  background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -184px top no-repeat;
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: -1px 4px 0 0;
  vertical-align: middle; }

.warning-field-section div:hover input[type="radio"] + label:hover {
  color: #626c74; }
  .warning-field-section div:hover input[type="radio"] + label:hover span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -46px top no-repeat; }

.warning-field-section input[type="radio"]:checked + label {
  color: #002855; }
  .warning-field-section input[type="radio"]:checked + label span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -92px top no-repeat; }

.warning-field-section div:hover input[type="radio"]:checked + label:hover {
  color: #175717; }
  .warning-field-section div:hover input[type="radio"]:checked + label:hover span {
    background: url(https://admissions.wvu.edu/images/check_radio_sheet--v2.png) -138px top no-repeat; }

/* ESTIMATOR TABLES: DIV to Table Conversion */
.wrap__frontpage-estimator-results {
  width: 100%;
  background: #f6f8f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f8f9), to(#f2f4f7));
  background-image: -webkit-linear-gradient(#f6f8f9, #f2f4f7);
  background-image: linear-gradient(#f6f8f9, #f2f4f7); }

.frontpage-estimator__results h2 {
  margin-bottom: 24px; }
.frontpage-estimator__results p {
  margin-bottom: 36px;
  padding-bottom: 0; }

#estimate-table, .est-table, .est-caption, .est-thead, .est-tr, .est-td, .est-th, .est-tbody {
  float: left; }

.est-table {
  border-collapse: collapse;
  width: 100%;
  line-height: 26px; }

.est-caption, .est-tbody, .est-thead, .est-tr {
  width: 100%; }

.est-caption {
  margin: 0;
  background: #0673dd;
  font-size: 1.5552em;
  padding: 18px;
  text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center; }
  .est-caption span {
    font-size: 0.7em;
    font-weight: 300;
    margin-top: 12px;
    display: block;
    line-height: 1.5; }

.est-tr-evenrow {
  background-color: #e8f2fb; }

.est-th, .est-caption-th, .est-caption-td, .est-td, .est-td-total, .est-th-total {
  text-align: center;
  padding: 1em 5px;
  width: 25%;
  font-size: 0.9em;
  line-height: 1.5em;
  float: left; }
  @media only screen and (min-width: 25em) {
    .est-th, .est-caption-th, .est-caption-td, .est-td, .est-td-total, .est-th-total {
      font-size: 1.08em; } }

.estimate-table-summer .est-th, .estimate-table-summer .est-caption-th, .estimate-table-summer .est-caption-td, .estimate-table-summer .est-td, .estimate-table-summer .est-td-total, .estimate-table-summer .est-th-total {
  width: 33.33%; }

.est-caption-th, .est-caption-td {
  padding-top: 18px;
  padding-bottom: 18px; }

.est-caption-th {
  font-weight: 500; }

.est-th {
  font-weight: normal; }

@media only screen and (min-width: 63.75em) {
  .est-inner-border {
    border-right: 1px solid #dbe6f0; } }

.est-td-total, .est-th-total {
  font-weight: bold; }

.wrap-article {
  float: left;
  width: 100%;
  background: #fff; }

article {
  float: left;
  margin-right: -100%;
  width: 100%;
  margin-left: 0%;
  float: none;
  max-width: 1200px;
  margin: 0 auto; }

article h2 {
  font-weight: 1.5em;
  color: #455560;
  border: none;
  margin-bottom: 54px;
  max-width: 50em;
  margin-top: 48px; }
  @media only screen and (min-width: 48.75em) {
    article h2 {
      font-size: 4.6438em; } }

@media only screen and (min-width: 48.75em) {
  article h3 {
    font-size: 2.68739em;
    line-height: 34px; } }

.undergrad-h2 {
  margin-top: 36px; }

#grad, #undergrad {
  margin-bottom: 36px; }

.est-table {
  margin-bottom: 48px; }

.btn-submit {
  width: 100%;
  margin: 0 0%;
  float: left;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  margin: 24px 0 12px;
  font-size: 1.08em;
  font-weight: 600;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
  letter-spacing: 0.05em;
  border-radius: 6px;
  background-color: #1f701f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1f701f), to(#1a5f1a));
  background-image: -webkit-linear-gradient(#1f701f, #1a5f1a);
  background-image: linear-gradient(#1f701f, #1a5f1a);
  text-align: center;
  padding: 12px;
  border-top: none;
  border-right: 4px solid #124312;
  border-bottom: 4px solid #124312;
  border-left: none; }
  @media only screen and (min-width: 40.63em) {
    .btn-submit {
      margin-top: 24px;
      font-size: 1.296em;
      float: left;
      float: left;
      margin-right: -100%;
      width: 47.5%;
      margin-left: 26.25%;
      padding: 18px 0; } }
  @media only screen and (min-width: 55em) {
    .btn-submit {
      margin-top: 30px; } }
  .btn-submit:hover, .btn-submit:focus {
    background: #1f701f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1f701f), to(#154e15));
    background-image: -webkit-linear-gradient(#1f701f, #154e15);
    background-image: linear-gradient(#1f701f, #154e15);
    text-decoration: underline; }

.table-bg__blue-light, .table-bg__grey-light, .table-bg__gold-light {
  background: #fff; }

.table-grey-bg {
  background: #cfdae3;
  color: #45545f; }

.table-bg__blue-dark {
  background: #0673dd; }

.table-bg__blue-medium {
  background: #cfdae3; }

.table-bg__blue-light {
  background: #cfdae3; }

.table-bg__gold-dark {
  background: #eeb011;
  color: #45545f;
  text-shadow: rgba(255, 255, 255, 0.8) 2px 2px 1px; }

.table-bg__gold-medium {
  background: #e4dcc9; }

.table-bg__gold-light {
  background: #f1eee6; }

.table-bg__green-dark {
  background: #1f701f; }

.table-bg__green-medium {
  background: #dbe5db; }

.table-bg__total {
  background: #eaeaea;
  font-size: 1.08em; }
  @media only screen and (min-width: 25em) {
    .table-bg__total {
      font-size: 1.296em; } }

.est-tbody {
  background: #fff; }

.wrap__action-btns {
  width: 100%;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfc), to(#f2f4f7));
  background-image: -webkit-linear-gradient(#fafbfc, #f2f4f7);
  background-image: linear-gradient(#fafbfc, #f2f4f7); }

.action-btns {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 0; }
  @media only screen and (min-width: 25em) {
    .action-btns {
      padding: 36px 0; } }
  @media only screen and (min-width: 40.63em) {
    .action-btns {
      padding: 48px 0;
      text-align: left; } }
  @media only screen and (min-width: 48.75em) {
    .action-btns {
      padding: 60px 0; } }
  .action-btns h2 {
    font-size: 2.23949em;
    color: #5b6e7b;
    padding: 18px 30px 36px;
    text-align: left;
    font-weight: 600; }
    @media only screen and (min-width: 37.5em) {
      .action-btns h2 {
        text-align: center;
        font-size: 2.23949em; } }
    @media only screen and (min-width: 48.75em) {
      .action-btns h2 {
        font-size: 3.86984em;
        padding-bottom: 60px; } }
  .action-btns h3 {
    font-weight: 500;
    font-size: 1.5552em;
    margin-bottom: 18px;
    margin-top: 12px; }

.action-btn__1 {
  padding: 18px 30px 36px; }
  @media only screen and (min-width: 40.63em) {
    .action-btn__1 {
      float: left;
      margin-right: -100%;
      width: 30%;
      margin-left: 0%; } }
  .action-btn__1 h3 {
    color: #005da8; }

.action-btn__2 {
  padding: 18px 30px 36px; }
  @media only screen and (min-width: 40.63em) {
    .action-btn__2 {
      float: left;
      margin-right: -100%;
      width: 30%;
      margin-left: 35%; } }
  .action-btn__2 h3 {
    color: #bc481a; }

.action-btn__3 {
  padding: 18px 30px 36px; }
  @media only screen and (min-width: 40.63em) {
    .action-btn__3 {
      float: left;
      margin-right: -100%;
      width: 30%;
      margin-left: 70%; } }
  .action-btn__3 h3 {
    color: #be8c0d; }

a.button-md {
  font-size: 1.08em;
  border-radius: 24px;
  padding: 12px;
  display: block;
  margin-top: 24px;
  text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  max-width: 300px; }
  a.button-md:hover {
    color: #fff; }
  @media only screen and (min-width: 40.63em) {
    a.button-md {
      max-width: none; } }

a.blue-button {
  background: #005da8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3399ff), to(#005da8));
  background-image: -webkit-linear-gradient(#3399ff, #005da8);
  background-image: linear-gradient(#3399ff, #005da8); }
  a.blue-button:hover {
    background: #005da8; }

a.gold-button {
  background: #eeb011;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeb011), to(#b5850c));
  background-image: -webkit-linear-gradient(#eeb011, #b5850c);
  background-image: linear-gradient(#eeb011, #b5850c); }
  a.gold-button:hover {
    background: #b5850c; }

a.orange-button {
  background: #bc481a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7521d), to(#bc481a));
  background-image: -webkit-linear-gradient(#d7521d, #bc481a);
  background-image: linear-gradient(#d7521d, #bc481a); }
  a.orange-button:hover {
    background: #bc481a; }

.wrap__backpage-undergraduate-intro {
  width: 100%;
  background: #0673dd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a97f6), to(#1e81e0));
  background-image: -webkit-linear-gradient(#3a97f6, #1e81e0);
  background-image: linear-gradient(#3a97f6, #1e81e0); }

.backpage-undergraduate-intro {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .backpage-undergraduate-intro {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .backpage-undergraduate-intro {
      padding: 48px 36px 60px; } }
  .backpage-undergraduate-intro h1 {
    font-size: 1.86624em;
    font-weight: 600;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    @media only screen and (min-width: 33.75em) {
      .backpage-undergraduate-intro h1 {
        font-size: 2.23949em;
        text-align: left; } }
    @media only screen and (min-width: 37.5em) { }
    @media only screen and (min-width: 48.75em) {
      .backpage-undergraduate-intro h1 {
        font-size: 3.22486em; } }
    @media only screen and (min-width: 66.25em) {
      .backpage-undergraduate-intro h1 {
        margin-top: 1%;
        font-size: 3.86984em; } }

.wrap__backpage-undergraduate {
  width: 100%;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f4f7), to(#e9edf2));
  background-image: -webkit-linear-gradient(#f2f4f7, #e9edf2);
  background-image: linear-gradient(#f2f4f7, #e9edf2); }

.backpage-undergraduate {
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .backpage-undergraduate {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .backpage-undergraduate {
      padding: 48px 36px; } }
  @media only screen and (min-width: 48.75em) {
    .backpage-undergraduate {
      padding: 60px 36px; } }
  .backpage-undergraduate table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    background: #fff; }
  .backpage-undergraduate p, .backpage-undergraduate h1, .backpage-undergraduate h2 {
    margin: 24px 0; }
  .backpage-undergraduate .table-grey-bg {
    background: #cfdae3;
    color: #45545f; }
  .backpage-undergraduate td, .backpage-undergraduate th {
    text-align: center;
    border-top: none;
    padding: 18px; }
  .backpage-undergraduate table tr:nth-child(even) {
    background-color: #e8f2fb; }
  .backpage-undergraduate th {
    font-weight: 500;
    text-align: left; }
  .backpage-undergraduate .totals td, .backpage-undergraduate .totals th {
    font-weight: bold; }
  .backpage-undergraduate table thead tr:nth-child(2n+2) {
    background-color: #ebf0f4; }
  .backpage-undergraduate caption {
    border: none;
    font-size: 1.08em;
    text-align: left;
    text-transform: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
    text-transform: uppercase;
    color: #fff;
    background: #0673dd;
    padding: 24px 24px;
    margin-bottom: 0; }
    @media only screen and (min-width: 21.25em) {
      .backpage-undergraduate caption {
        font-size: 1.296em; } }
    .backpage-undergraduate caption span {
      font-weight: 400;
      display: block;
      font-size: 0.9em; }
    @media only screen and (min-width: 48.75em) {
      .backpage-undergraduate caption {
        font-size: 1.5552em; } }
    @media only screen and (min-width: 63.75em) {
      .backpage-undergraduate caption {
        text-align: center; } }

.undergrad-tuition {
  overflow-x: scroll;
  padding: 12px;
  background: #FFFFFF;
  border-radius: 6px;
  border-bottom: solid 6px #a9bacb;
  border-right: solid 6px #a9bacb;
  border-left: solid 1px #cbd5e0;
  border-top: solid 1px #dce3ea; }

.wrap-table-backpage {
  overflow-x: scroll; }

.table-divider {
  background: #cfdae3;
  width: 12px; }

.th-strong {
  font-weight: 600; }

@media only screen and (min-width: 55em) {
  .hidden-dtop {
    display: none; } }

.wrap__backpage-404-intro {
  width: 100%;
  background: #af0d0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf3d3d), to(#b72525));
  background-image: -webkit-linear-gradient(#bf3d3d, #b72525);
  background-image: linear-gradient(#bf3d3d, #b72525); }

.backpage-404-intro {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 36px 24px; }
  @media only screen and (min-width: 25em) {
    .backpage-404-intro {
      padding: 36px 36px; } }
  @media only screen and (min-width: 40.63em) {
    .backpage-404-intro {
      padding: 48px 36px 60px; } }
  .backpage-404-intro h1 {
    font-size: 1.86624em;
    font-weight: 600;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.39) 2px 2px 1px;
    letter-spacing: 1px;
    text-transform: none;
    margin: 0;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    @media only screen and (min-width: 33.75em) {
      .backpage-404-intro h1 {
        font-size: 2.23949em;
        text-align: left; } }
    @media only screen and (min-width: 37.5em) { }
    @media only screen and (min-width: 48.75em) {
      .backpage-404-intro h1 {
        font-size: 3.22486em; } }
    @media only screen and (min-width: 66.25em) {
      .backpage-404-intro h1 {
        margin-top: 1%;
        font-size: 3.86984em; } }

.ie8 .container {
  position: relative; }

.ie8 .circle {
  background-color: #efefef; }

.ie8 input[type="radio"] {
  display: inline; }

.ie8 input[type="radio"] + label span {
  display: none; }

.ie8 .warning-field-section input[type="radio"] + label span {
  display: none; }

.ie8 .field-number, .ie8 .field-selection, .ie8 fieldset, .ie8 .field-section {
  margin-bottom: 36px;
  width: 100%;
  display: block;
  width: 100%;
  margin: 0 0%;
  float: left; }
  @media only screen and (min-width: 55em) {
    .ie8 .field-number, .ie8 .field-selection, .ie8 fieldset, .ie8 .field-section {
      display: block;
      float: none;
      width: 100%;
      width: 100%;
      margin: 0 0%;
      float: left; } }

.ie8 .field-description, .ie8 input[type="radio"] + label {
  width: 100%;
  display: block; }

.ie8 .warning-field-section .warning-bar {
  font-size: 1em;
  letter-spacing: 1px;
  padding: 2% 5%;
  background-color: #ae2727;
  color: #fff;
  width: 100%;
  margin-bottom: 18px;
  float: left;
  width: 100%;
  margin: 0 0%;
  float: left; }

/* Modified Styles for Undergraduate Admissions */
.field-section {
  margin: 42px 0;
}

.field-section fieldset, .field-section div.field-dd {
  padding-bottom: 80px;
}

.cost-aid__estimator .estimate-form .button {
  margin: 28px 0 0;
  width: 100%;
}

@media only screen and (min-width: 55em) {
  .cost-aid__estimator .estimate-form .button {
    margin: 28px 15% 0;
    width: 70%;
  }
}

fieldset {
  background-color: transparent;
}
