// Layout Helpers
//==================================================
// All classes and mixins in here are prefixed with .u-wvu-*. "u" stands for "utility".

// Full width div
.u-wvu-full-width { width: 100%; }

@mixin u-wvu-embed-container {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  iframe, object, video, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Make videos responsive
.u-wvu-embed-container {
  @include u-wvu-embed-container;
}

// Add this class to your html and wrap it with <r:edit_mode_only> tags.
.u-wvu-embed-container--edit-mode {
  iframe, object, video, embed { position: static; padding-bottom: 20px; }
}

.u-wvu-hide {
  display: none;
}

@mixin u-visually-hidden {
  /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.u-visually-hidden {
  @include u-visually-hidden;
}

@mixin u-wvu-container-padding {
  padding: $wvu-container-padding;
  padding-left: 1em;
  padding-right: 1em;
  @include mq($bp-xlarge) {
    padding-left: 0;
    padding-right: 0;
  }
}

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
// Parent elements must have a fixed height (not min-height)
@mixin u-wvu-vertical-align { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
